{
  "presets": [
    "airbnb", 
    [
      "@babel/preset-env",
      {
        "modules": "commonjs"
      }
    ], 
    "@babel/preset-react",
    [
      "@babel/preset-typescript",
      {
        "allExtensions": true,
        "isTSX": true
      }
    ]
  ],
  "plugins": [
    ["babel-plugin-root-import"]
  ]
}
